body {
    margin: 0%;
}
a{
    text-decoration-line: none;
}
h1{
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 100px;
}
h2{
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}
h3{
    font-size: 33px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
strong{
    font-size: 50px;
}
ul{
    list-style: none;
}

#menu{
    background-color: #00a9fe71;
}
.top_bar_fix{
    position:fixed; 
    top:0; 
    left:0; 
    width:100%;
}
.pd_top_80{
    padding-top:80px;
}
#menuList{
    display: flex;
    height: 55px;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
#menuList li{
    font-size: 25px;
    margin-left: 150px;
    margin-right: 150px;
}
#menuList li.selected{
    color:#fff;
    font-weight: 600;
}
#keyword {
    display: flex;
    flex-wrap : wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 50px;
}
#keyword p{
    font-size: 25px;
}
#slider{
    position: relative;
    width: 150px;
    height: 100px;
    display: flex;
    flex-wrap : wrap;
    justify-content: center;
    align-items: center;
}
#slider .letters{
    position: absolute;
    font-size: 32px;
    /* font-size: 30px;
    opacity: 0; */
    left: 27%;
    top: 31%;
    opacity: 0;
}
#profile{
    display: flex;
    flex-wrap : wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
#profile-img{
    width: 300px;
    margin-right: 40px;
}
#profile-content{
    font-size: 20px;
}
#skills{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 250px;
}
#skills img{
    margin-bottom: 50px;
}
#skills #dart{
    margin-left: 30px;
}
#skills p{
    font-size: 30px;
}
#project p{
    font-size: 24px;
    margin-left: 100px;
}
#project .project_content{
    font-size: 20px;
    margin-left: 150px;
}
#project li{
    font-size: 20px;
    margin-left: 100px;
    margin-bottom: 15px;
}
#project ul{
    margin-bottom: 150px;
}
.unity{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.unity video{
    width: 550px;
    margin-left: 50px;
    margin-right: 50px;
}
.web{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.web video{
    width: 200px;
    margin-left: 50px;
    margin-right: 50px;
}
#project img{
    width: 300px;
}
#umbrella_1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;    
}
#umbrella_2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
}
#umbrella_1 img{
    width: 400px;
}
#umbrella_2 img{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 250px;
}
#withPet{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
#withPet img{
    width: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
}
footer{
    background-color: gainsboro;
    height: 100px;
}


@media(max-width:1000px){
    h1{
        font-size: 40px;
        padding: 80px;
    }
    #grid{
        display: block;
    }
    h2{
        font-size: 25px;
        text-align: center;
    }
    #menuList li{
        font-size: 25px;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #keyword {
        height: 80px;
        margin-bottom: 30px;
    }
    #keyword p{
        font-size: 20px;
    }
    #slider{
        height: 80px;
    }
    #slider span{
        font-size: 25px;
    }
    #profile{
        justify-content: center;
        align-items: center;
    }
    #profile-img{
        width: 250px;
        align-items: center;
    }
    #profile-content{
        font-size: 20px;
        margin-top: 20px;
        margin-left: 15px;
    }
}

@media(max-width:550px){
    h1{
        font-size: 40px;
    }
    h2{
        margin-left: 0px;
    }
    h3{
        font-size: 25px;
    }
    #menuList li{
        font-size: 20px;
        float: left;
        margin-left: 25px;
        margin-right: 25px;
    }
    .top_bar_fix{
        position:fixed; 
        top:0; 
        left:0; 
        width:100%;
    }
    #keyword {
        height: 60px;
        margin-bottom: 30px;
    }
    #keyword p{
        font-size: 13px;
    }
    #slider{
        width: 70px;
    }
    #slider .letters{
        position: absolute;
        font-size: 15px;
        /* font-size: 30px;
        opacity: 0; */
        left: 27%;
        top: 38%;
        opacity: 0;
    }
    #profile-img{
        margin-right: 0px;
    }
    #profile-content{
        font-size: 15px;
    }
    #skills{
        font-size: 20px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    #skills p{
        font-size: 15px;
        font-weight: 800;
    }
    #project p{
        font-size: 20px;
        text-align: center;
        margin-left: 0px;
    }
    #project .project_content{
        font-size: 15px;
        margin-left: 0px;
        text-align: center;
    }
    #project ul{
        padding: 0px;
    }
    #project li{
        font-size: 15px;
        margin-left: 0px;
        text-align: center;
    }
    #withPet img{
        width: 400px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}