body {
    margin: 0%;
}
a{
    text-decoration-line: none;
}
h1{
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 150px;
}
h2{
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
}
strong{
    font-size: 50px;
}
ul{
    list-style: none;
}
#menu ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
#menu ul li{
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 50px;
}
#grid{
    display: grid;
    grid-template-columns: 300px 1fr;
}
#keyword {
    display: flex;
    flex-wrap : wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 50px;
}
#keyword p{
    font-size: 25px;
}
#slider{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    flex-wrap : wrap;
    justify-content: center;
    align-items: center;
}
#slider span{
    position: absolute;
    font-size: 30px;
}
#profile{
    display: flex;
    flex-wrap : wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 150px;
}
#profile-img{
    width: 300px;
    margin-right: 40px;
}
#profile-content{
    font-size: 20px;
}
#skills{
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
}


@media(max-width:1000px){
    h1{
        font-size: 40px;
        padding: 80px;
    }
    #grid{
        display: block;
    }
    h2{
        font-size: 25px;
        text-align: center;
    }
    #menu{
        display: flex;
        height: 70px;
        align-items: center;
        justify-content: center;
    }
    #menu ul li{
        font-size: 25px;
        float: left;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #keyword {
        height: 80px;
        margin-bottom: 30px;
    }
    #keyword p{
        font-size: 20px;
    }
    #slider{
        height: 80px;
    }
    #slider span{
        font-size: 25px;
    }
    #profile{
        justify-content: center;
        align-items: center;
    }
    #profile-img{
        width: 250px;
        align-items: center;
    }
    #profile-content{
        font-size: 20px;
        margin-top: 20px;
        margin-left: 15px;
    }
    #skills{
        text-align: center;
    }
}

@media(max-width:550px){
    h1{
        font-size: 40px;
    }
    #menu ul li{
        font-size: 20px;
        float: left;
        margin-left: 25px;
        margin-right: 25px;
    }
    #keyword {
        height: 60px;
        margin-bottom: 30px;
    }
    #keyword p{
        font-size: 13px;
    }
    #slider{
        width: 70px;
    }
    #slider span{
        font-size: 18px;
    }
    #profile-img{
        margin-right: 0px;
    }
    #profile-content{
        font-size: 15px;
    }
    #skills{
        font-size: 20px;
    }
}